<!DOCTYPE html>
<html>
<head>
	<title>Formulario</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="/formato.css"> -->

	<style>
		td{
	
	width: 50px;
}

.jumbotron{

	margin-top: 70px;


}
h1{
	font-family: 'Railway';
}
.labels{
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Railway';
}

#activdad{
	margin-bottom: 50px;
}

p{
	margin-top: 15px;
	font-family: 'Railway';

}

#boton{
	margin-top: 15px;
	font-family: 'Railway';
}

td{
	font-family: 'Railway';
}
	</style>
</head>
<body>


	{{ template "menu.html" . }}

<!--JumboTron-->
  <div class="container">
    <div class="jumbotron">
      <h1> <i class="fas fa-edit"></i> Editar: {{.payload.Nombre}} </h1>
      <p><em>Edita el contenido de tu archivo</em></p> 
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 pink">

      	<div class="row">
				<div class="col-lg-2 "></div>
				<div class="col-lg-8 ">

					<form action="/article/{{.payload.ID}}" method="POST">

					<div>

						<label class="labels" for="actividad">ID</label>
						<input type="text" id="actividad" class="form-control "  required name="ID" value="{{.payload.ID}}" >


						<label class="labels" for="id">Nombre Del Archivo</label>
						<input type="text" id="actividad" class="form-control "  required name="Nombre" value="{{.payload.Nombre}}" >

						<label class="labels" for="actividad">Formato</label>
						<input type="text" id="actividad" class="form-control "  required name="Formato" value="{{.payload.Formato}}" >



						

						
					</div>
						
				
					
					<div>
						
						 <label class="labels" for="file">Seleccionar Archivo</label>
					     <input type="file" id="file" name="file" multiple>
									
						
					</div>

					<div id="boton">
					
					<a class="btn btn-primary "  href = "/article/{{.payload.ID}}" role="button"> Regresar</a>
						<input type="submit" class="btn btn-primary" value="Aplicar Cambios" >

						
					</div>
					


						
					</form>


				</div>
				<div class="col-lg-2"></div>
				
			</div>



      </div>

    </div>

  </div>


</body>
</html>